/* <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"></div>
<div class="bg-gradient-to-br from-sky-400 to-blue-600"></div>
<div class="bg-gradient-to-r from-green-400 to-lime-500"></div>
<div class="bg-gradient-to-tr from-orange-400 to-rose-500"></div>
<div class="bg-gradient-to-tl from-amber-200 to-yellow-300"></div> */